[paths]
mp3path: /var/www/localhost/htdocs/podcast
rsstemplate: /home/mpickering/podcast/template.rss
rssoutfile: /var/www/localhost/htdocs/podcast/shows.rss

[web]
urlprefix: https://home.mpickering.net/podcast/

[misc]
maxitems: 15
deleteold: true
